[user]
  name = Shiv Shankar
  email = shiv@pobox.com

[push]
  default = simple

[branch]
  autosetupmerge = true

[github]
  user = sshankar

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[color]
  ui = true

[credential]
  helper = osxkeychain

[alias]
  lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
